.contattiDx {
    min-height: fit-content;
    max-height: fit-content;
    width: fit-content;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 90;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.contactDetails a {
    color: #005f73;
    text-decoration: none;
}

.contactDetails a:hover {
    text-decoration: underline;
}


.contactDetails {
    margin-top: 1rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.contactDetails p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
}

.contactDetails a {
    color: #330867;
    text-decoration: none;
    font-weight: 600;
}

.contactDetails a:hover {
    text-decoration: underline;
    color: #30cfd0;
}

.contactDetails .icon {
    color: #30cfd0;
}
