.logoContatti {
    position: relative;
    width: 60vw;
    height: 40vh;
    max-width: 100vw;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 3vh;
}
