.contattiDx {
    min-height: fit-content;
    max-height: fit-content;
    width: fit-content;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 90;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contactDetails {
    margin-top: 1rem;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.contactDetails a {
    color: #005f73;
    text-decoration: none;
}

.contactDetails a:hover {
    text-decoration: underline;
}