.footer{
    min-width: 100vw;
min-height: 30vh;
max-height: 30vh;
overflow: hidden;
    background-color: #0E273C;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.socialMediaIcons{
    width: 60vw;
    display: flex;
    border-radius: 20px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;
min-height: 50%;
max-height: 50%;
overflow: hidden;
}
.socialMediaIcons img {

    height: 10vh;
}

.copyright{
    padding: 1rem;
}