.mapDiv{
  
    padding: 5vh;
    z-index: 90;
    background-color: transparent;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5% 5%;
}

.mapContainer{
    border-radius: 5%;
    overflow: hidden;
    width: 100%;
    max-width: 45rem;
    height: 400px;
}

.leaflet-top {
    display: none;
}

.leaflet-control-attribution {
    display: none;
}

@media screen and (max-width: 1426px){
  .mapContainer{
    margin-bottom: 20vh;
  }
}

@media screen and (max-width: 600px){
  .mapContainer{
      height: 300px;
  }
}
